.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .btnSubmit,
  .btnReset {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .btnSubmit {
    color: var(--color-white-text);
    background-color: var(--color-bg-email);

    &:hover {
      color: #000;
      background-color: var(--color-text);
    }
  }

  .btnReset {
    margin-left: 2rem;
    &:hover {
      color: var(--color-white-text);
      background-color: #ec0f0f;
    }
  }
}
