.layoutContainer {
  min-width: 350px;
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .rowSplit {
    width: 80%;
    height: 490px;
    overflow: scroll;
    padding: 2rem;
    margin-bottom: 5rem;
    .floatChild {
      width: 50%;
      float: left;
    }
  }

  .colSplit {
    //display: none
  }

  .arrow {
    position: relative;
    border: solid tomato;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;

    color: var(--color-white-text);
  }

  .right {
    top: 0%;
    left: 10%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
