$medium: 900px;

.projects {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > h2 {
    font-size: 2rem;
    color: var(--color-bg-email);
  }

  > p {
    color: var(--color-white-text);
  }

  .projectsContainer {
    @media screen and (min-width: $medium) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 300px;
      height: 100px;
      object-fit: contain;
      border-radius: 0.2rem;

      @media screen and (min-width: $medium) {
        position: unset;
        transform: translateX(0);
      }
    }

    .projectList {
      margin: 1rem 0;
      padding: 1rem;
      font-size: 0.7rem;
      color: var(--color-white-text);

      span {
        color: var(--color-text);
        font-weight: bold;
      }

      .links {
        margin-left: 3rem;
      }

      @media screen and (min-width: $medium) {
        width: 30%;
        padding: 1rem 5rem;
        margin: 0;
      }
    }
  }
}
